@media (max-width: 992px)
  .container
    max-width: 730px
  .link
    &:hover
      text-decoration: none
  .header
    &-main
      &__text
        display: none
      &__link
        margin: 0 auto
      &__date
        align-self: flex-start
        margin: 15px -72px 0 0
      &__weather
        align-self: flex-end
        margin: 0 0 15px 0
    &-menu
      display: none
      &--mobile
        &-visible
          background-color: rgba(38, 45, 51, 0.9)
          position: fixed
          top: 50px
          left: 0
          width: 30%
          height: 100%
          z-index: 3
          display: flex
          justify-content: center
      &__list
        &--mobile
          &-visible
            display: flex
            flex-direction: column
            overflow-y: scroll
      &__item
        margin-bottom: 15px
  .latest
    &-articles
      margin-top: 134px
      &__text
        &:hover
          text-decoration: none
  .recomended
    &-wrapper
      grid-template-columns: repeat(5, 1fr)
      grid-template-rows: 40px minmax(55px, auto) min-content
    &__tabs
      &-content
        min-height: 300px
        grid-column: span 5
        grid-row: 3 / 4
  .tabs
    &-menu
      grid-column: 1 / 6
      grid-row: 1 / 2
      display: flex
      flex-wrap: wrap
      &__title
        padding: 15px 20px
        flex-basis: 100%
        flex-shrink: 0
      &__item
        flex-basis: 20%
        padding: 15px 0
        border: none
        border-right: 1px solid #D9DADB
        border-top: 1px solid #D9DADB
        border-radius: 10px 10px 0 0
        &:last-child
          border-right: none
          border-top: 1px solid #D9DADB
          border-radius: 10px 10px 0 0
        &--active
          &::before
            content: ''
            position: absolute
            transform: translateX(-50%)
            left: 50%
            bottom: -22px
            border: 12px solid transparent
            border-top: 10px solid #F5F5F5
      &__descr
        display: none
        padding: 8px
      &__category
        margin: 0
        text-align: center
  .articles
    &-cards
      &__wrapper
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: repeat(5, minmax(170px, min-content))
  .article
    &-card
      &--vertical
        &-bg
          grid-column: 1 / 2
          grid-row: 3 / 4
          padding-top: 10px
        &-half
          grid-column: 2 / 3
          grid-row: 4 / 5
          grid-template-rows: repeat(4, 1fr)
  .vertical
    &-bg
      &-card
        &__title
          margin-top: 45px
        &__label
          top: 10px
          left: 137px
    &-half
      &-card
        &__bg
          grid-row: 1 / 4
        &__title
          grid-row: 4 / 5
          margin: 0
          align-items: flex-end
          padding-bottom: 5px
          padding-right: 10px
          padding-left: 10px
  .columns
    grid-column: 3 / 4
    grid-row: 1 / 5
