@media (max-width: 1200px)
  .container
    max-width: 960px
  .article
    &-container
      max-width: 830px
  .header
    &-main
      &__date
        margin-left: 100px
      &__text
        display: none
      &__link
        margin-left: auto
  .latest
    &-articles
      &-wrapper
        flex-wrap: wrap
      &__card
        flex-basis: 50%
        align-items: flex-start
        &:nth-child(2)
          border: none
        &:nth-child(2),
        &:first-child
          margin-bottom: 15px    
      &__text
        max-width: 200px
  .recomended
    &-wrapper
      margin-top: -195px
      grid-template-columns: repeat(4, 1fr)
    &__tabs
      &-content
        grid-column: span 3
  .tabs
    &-menu
      grid-column-start: 4
      &__title
        letter-spacing: 0
  .articles
    &-cards
      &-wrapper
        grid-gap: 25px
  .columns
    &-cards
      &__avatar
        min-width: 35px
        height: 35px
  .article
    &-card
      &--horizontal
        background-position: 250px center
      &--vertical
        &-bg
          padding: 0 25px 25px 20px
  .card
    &-author
      &__avatar
        min-width: 39px
        height: 39px
        margin-right: 7px
      &__date
        margin-right: 5px
      &__comments
        margin-right: 5px
      &__message
        margin-right: 2px
      &__like
        margin-right: 2px
  .articles
    &-categories
      &-wrapper
        grid-gap: 25px
  .categories
    &-cards
      &__image
        margin-right: 15px
      &__img
        width: 250px
      &__title
        font-size: 18px
    &-recomended
      &__title
        font-size: 12px
  .recomended
    &-cards
      &__image
        display: none
  .articles
    &-slider
      &-wrapper
        grid-gap: 25px
      &__item
        &--horizontal
          padding: 30px 0 40px 30px
          &::before
            right: -65px
        &--common
          padding: 20px 20px 25px 20px
  .horizontal
    &-slider
      &-card
        overflow: hidden
        &__img
          right: -85px
  .common
    &-card
      &__title
        font-size: 15px
  .footer
    &__item
      padding-bottom: 45px
    &-contacts
      padding: 25px 0
      &__links
        margin-left: 20px
      &__link
        margin-right: 20px
      &__social
        &-link
          margin-right: 10px
    &-privacy
      padding: 30px 0
      &__terms
        max-width: 610px
  .sample
    &-header
      &__flag
        top: -40px
        left: 13px
        width: 20px
        height: 20px
      
        
      

          
    

  
  
  