@media (max-width: 768px)
  .container
    max-width: 590px
  .header
    &-top
      &__sections
        padding-right: 15px
      &__search
        padding-left: 15px
      &__sign
        &-up
          margin-left: 10px
    &-main
      &__date
        display: none
        &--minimized
          display: block
    &-menu
      &--mobile
        &-visible
          width: 50%
  .search
    &__input
      max-width: 150px
  .sign
    &-up
      &__icon
        &-wrapper
          display: none
  .latest
    &-articles
      min-height: 600px
      &__wrapper
        flex-direction: column
        align-items: center
        padding-bottom: 10px
      &__card
        border: none
        width: 80%
        margin-bottom: 15px
        border-bottom: 1px solid #4B5157
        &:nth-child(2)
          border-bottom: 1px solid #4B5157
        &:last-child
          margin-bottom: 0
  .recomended
    &-wrapper
      margin-top: -165px
      grid-template-rows: min-content auto min-content
    &__tabs
      &-content
        padding: 30px 10px 30px 30px
  .tabs
    &-content
      &__category
        margin-top: 100px
      &__title
        margin-top: 20px
        font-size: 33px
        line-height: 43px
    &-menu
      &__title
        padding: 10px 20px