@media (max-width: 576px)
  .container
    max-width: 100%
  .header
    &-top
      &__photo
        display: none
      &__subscribe
        padding: 0 5px 0 10px
      &__sign
        &-up
          margin-left: 0
    &-main
      &__wrapper
        flex-wrap: wrap
      &__image
        display: none
      &__link
        order: -1
        margin: 10px auto
        flex-basis: 100%
        text-align: center
      &__date
        &--minimized
          margin: 0
    &-menu
      &--mobile
        &-visible
          width: 100%
  .sections
    padding-right: 10px
    &__text
      display: none  
  .search
    padding-left: 10px
    &__input
      max-width: 100px
  .sign
    &-up
      &__icon
        &-wrapper
          display: block
          margin: 0 0 0 9px
      &__link
        display: none
  .latest
    &-articles
      &__text
        width: 100%
        font-size: 14px
      &__image
        &-wrapper
          display: none
  .tabs
    &-content
      &__category
        margin-top: 60px
      &__title
        font-size: 25px
        line-height: 34px
    &-menu
      &__item
        display: flex
        align-items: center
        justify-content: center
        padding: 8px 0
      &__title
        padding: 8px 20px
      &__category
        font-size: 11px
  .articles
    &-cards
      &__wrapper
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(10, minmax(170px, min-content))
        grid-gap: 15px
  .article
    &-card
      &--horizontal
        grid-column: 1 / 3
        background-image: none
      &--vertical
        &-bg
          grid-row: 4 / 6
        &-half
          grid-column: 1 / 3  
          grid-row: 8 / 10
      &--common
        grid-column: 1 / 3
      &--invisible
        display: block
  .columns
    grid-column: 1 / 3