@media (max-width: 1200px)
  .container
    max-width: 960px
  .header
    &-main
      &__date
        margin-left: 100px
      &__text
        display: none
      &__link
        margin-left: auto
  .latest
    &-articles
      &__wrapper
        flex-wrap: wrap
      &__card
        flex-basis: 50%
        align-items: flex-start
        &:nth-child(2)
          border: none
        &:nth-child(2),
        &:first-child
          margin-bottom: 15px    
      &__text
        max-width: 200px      
          
    

  
  
  