@media (max-width: 768px)
  .container
    max-width: 590px
  .article
    &-container
      max-width: 500px
  .header
    &-top
      &__sections
        padding-right: 15px
      &__search
        padding-left: 15px
      &__sign
        &-up
          margin-left: 10px
    &-main
      &__date
        display: none
        &--minimized
          display: block
    &-menu
      &--mobile
        &-visible
          width: 50%
  .search
    &__input
      max-width: 150px
  .sign
    &-up
      &__icon
        &-wrapper
          display: none
  .latest
    &-articles
      min-height: 600px
      &-wrapper
        flex-direction: column
        align-items: center
        padding-bottom: 10px
      &__card
        border: none
        width: 80%
        margin-bottom: 15px
        border-bottom: 1px solid #4B5157
        &:nth-child(2)
          border-bottom: 1px solid #4B5157
        &:last-child
          margin-bottom: 0
  .recomended
    &-wrapper
      margin-top: -165px
      grid-template-rows: min-content auto min-content
    &__tabs
      &-content
        padding: 30px 10px 30px 30px
  .tabs
    &-content
      &__category
        margin-top: 100px
      &__title
        margin-top: 20px
        font-size: 33px
        line-height: 43px
    &-menu
      &__title
        padding: 10px 20px
  .articles
    &-cards
      &-wrapper
        grid-template-rows: repeat(5, minmax(170px, min-content))
        grid-gap: 20px
  .article
    &-card
      &--horizontal
        grid-column: 1 / 4
        grid-row: 2 / 3
      &--vertical
        &-bg
          grid-column: 1 / 3
          grid-row: 3 / 4
        &-half
          grid-column: 2 / 4
          grid-row: 4 / 6
      &--invisible
        display: none
  .vertical
    &-bg
      &-card
        &__label
          left: 10px
        &__title
          margin-top: 15px
    &-half
      &-card
        &__title
          padding: 0 25px 25px 25px
  .article
    &-card
      &--horizontal
        background-position: right center
  .columns
    grid-column: 1 / 4
    grid-row: 1 
  .big
    &-bloom
      &__title
        padding: 0 15px
        font-size: 34px
        line-height: 44px
  .articles
    &-categories
      &-wrapper
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: min-content
        grid-gap: 20px
  .categories
    &-cards
      grid-column: 1 / 4
      grid-row: 2
      &__item
        flex-direction: row
      &__image
        margin-right: 15px
        margin-bottom: 0
      &__img
        width: 150px
      &__title
        margin-top: 5px
        margin-bottom: 10px
        font-size: 17px
      &__text
        margin-bottom: 5px
      &__flag
        top: 25px
    &-recomended
      grid-column: 1 / 4
      grid-row: 1
      &__title
        font-size: 14px
  .recomended
    &-cards
      &__image
        margin-right: 20px
      &__img
        width: 90px
        height: 90px
      &__title
        font-size: 16px
        margin-bottom: 15px
  .horizontal
    &-slider
      &-card
        &__content
          max-width: 350px
        &__text
          max-width: 300px
  .newsletter
    padding: 45px 0
    &__title
      font-size: 30px
      line-height: 40px
  .footer
    &-contacts
      &__logo
        flex-shrink: 0
      &__link
        font-size: 12px
        line-height: 16px
        flex-basis: 40%
    &-privacy
      flex-wrap: wrap
      padding: 20px 0
      &__terms
        margin-bottom: 10px
  .sample
    &-header
      &__bg
        height: 490px
      &__overlay
        padding: 40px 0
      &__title
        font-size: 35px
        line-height: 50px
      &__flag
        top: 30px
  
