*
  box-sizing: border-box
body
  padding: 0
  margin: 0  
  font-family: 'Lato', sans-serif
  background-color: #E5E5E5
.container
  max-width: 1170px
  margin: 0 auto
  padding: 0 15px
.read
  &-more
    &-button
      display: inline-flex
      align-items: center
      padding: 10px 20px 10px 25px
      border-radius: 20px
      background-color: #4592FF
      text-decoration: none
      color: #ffffff
      &__arrow
        margin-left: 5px
        margin-top: 3px
.parallax-window
    min-height: 270px
    background: transparent
.link
  color: inherit
  text-decoration-color: transparent
  transition: all 0.2s
  &:hover
    text-decoration-color: inherit
.date
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
  color: rgba(255, 255, 255, 0.4)
.comment
  &-icon
    width: 15px
    height: 15px
.like
  &-icon
    width: 15px
    height: 15px
.comment,
.like
  &-block
    display: flex
    align-items: center
  &-count
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    color: rgba(255, 255, 255, 0.4)
