*
  box-sizing: border-box
body
  padding: 0
  margin: 0  
  font-family: 'Lato', sans-serif
  background-color: #E5E5E5
.container
  max-width: 1170px
  margin: 0 auto
  padding: 0 15px
.sample
  &-container
    position: relative
    max-width: 976px
    margin: 0 auto
    padding: 0 15px
.read
  &-more
    &-button
      display: inline-flex
      align-items: center
      padding: 10px 20px 10px 25px
      border-radius: 20px
      background-color: #4592FF
      text-decoration: none
      color: #ffffff
      &__arrow
        margin-left: 5px
        margin-top: 3px
.parallax-window
    min-height: 270px
    background: transparent
.link
  display: block
  color: inherit
  text-decoration-color: transparent
  transition: all 0.2s
  &:hover
    text-decoration-color: inherit
.date
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
  color: rgba(255, 255, 255, 0.4)
.comment
  &-icon
    width: 15px
    height: 15px
    cursor: pointer
    &:hover
      fill: #4592FF
.like
  &-icon
    width: 15px
    height: 15px
    cursor: pointer
    &:hover
      fill: #FF4F52
    &--checked
      fill: #FF4F52!important
.flag
  &-icon
    cursor: pointer
    &--checked
      width: 14px
      height: 18px
      fill: #FF4F52!important
.comment,
.like
  &-block
    display: flex
    align-items: center
  &-count
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    color: rgba(255, 255, 255, 0.4)
.articles__slider-container .swiper-pagination
  position: absolute
  bottom: 40px
  text-align: center
.articles__slider-container .swiper-pagination-bullets .swiper-pagination-bullet
  position: relative
  width: 8px
  height: 8px
  border-radius: 50%
  background-color: rgba(255, 255, 255, 0.4)
  margin: 0
  margin-right: 17px
  opacity: 1
  &:last-child
    margin-right: 0
  &-active
    background-color: #ffffff
    &::after
      content: ""
      position: absolute
      right: -8px
      bottom: -8px
      border: 2px solid #ffffff
      width: 20px
      height: 20px
      border-radius: 50%  
.invalid
  display: block
  color: #FF4F52
  font-size: 14px
input.invalid
  border: 1px solid #FF4F52

    
